djangorestframework~=3.13.1
python-decouple
drf-yasg
Pillow
psycopg2-binary
django-filter
transliterate
twilio
djangorestframework-simplejwt
redis
celery
python-slugify
gunicorn
dj-database-url
django-cors-headers
